$text-size-xs: 0.66rem;
$text-size-s: 0.7rem;
$text-size-default: 0.8rem;

/* BORDER RADIUS */
$border-radius-none: 0px;
$border-radius-s: 5px;
$border-radius-m: 10px;

/* BACKGROUND */
$on-secondary-buttons-hover: rgba(88, 88, 88, 0.29);

/* LINE HEIGHT */
$line-height-xl: 1.8;

/* HIGHLIGHT */
$action-highlight: #4a90e2;
